 
{{!-- Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/" --}}


<main class="main">   
 
    {{> heading title="Moї замовлення"}}     
      
      <div class="card">         
        {{#each list}}         
          <div class="label-input__id">
            <span class="field__label-id">ID:</span>
            <a href="/purchase-info?id={{id}}" class="link">{{id}}</a>
          </div>

          {{>field-text label="Товар:" value=this.product.title}}

          {{>field-text label="Сума замовлення (грн):" value=this.totalPrice}}
          
          {{>field-text label="Бонус (грн):" value=this.bonus}}
                  
        {{/each}} 
      </div>  
                             
      
 
  
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}